<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">

    <title>Lego Collection</title>

<body>
    <header>

    </header>
    <main>

        <!--Navbar-->
        <%- include('partials/navbar', { page: '/' }) %>



        <div class="container mx-auto p-4">


            <!-- Hero Section -->
            <div class="hero bg-base-200 py-8">
                <div class="hero-content text-center">
                    <div class="max-w-md mx-auto">
                        <h1 class="text-4xl font-bold">Explore the Lego Collection</h1>
                        <p class="py-4 text-gray-700">
                            Discover a world of creativity and adventure with our exclusive Lego sets. Dive into the collection now!
                        </p>
                        <a href="/lego/sets" class="btn btn-outline btn-primary">Explore Now</a>
                    </div>
                </div>
            </div>
            
            
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 p-6 bg-gray-50">

                <!-- Card 1 -->
                <div class="card bg-white shadow-lg rounded-lg border border-gray-200 flex flex-col h-full">
                    <figure  class="flex">
                        <img class="object-contain w-full" src="https://cdn.rebrickable.com/media/sets/1000591519-1.jpg" alt="Lego Set 1000591519-1">
                    </figure>
                    <div class="card-body flex flex-col p-4 flex-1">
                        <h2 class="text-lg font-semibold text-gray-800 mb-2">Star Wars: The Force Awakens - 3DS</h2>
                        <p class="text-sm text-gray-600 flex-1">
                            This Lego set, based on *Star Wars: The Force Awakens* for the 3DS, brings the iconic adventures to life. Whether you are a fan of the movie or the game, this set provides a thrilling building experience for Star Wars enthusiasts.
                        </p>
                        <div class="card-actions mt-4">
                            <a href="/lego/sets/1000591519-1" class="btn btn-sm btn-primary w-full text-center">View Set</a>
                        </div>
                    </div>
                </div>
            
                <!-- Card 2 -->
                <div class="card bg-white shadow-lg rounded-lg border border-gray-200 flex flex-col h-full">
                <figure class="flex">
                        <img class="object-contain w-full" src="https://cdn.rebrickable.com/media/sets/002253963-1.jpg" alt="Lego Set 002253963-1">
                    </figure>
                    <div class="card-body flex flex-col p-4 flex-1">
                        <h2 class="text-lg font-semibold text-gray-800 mb-2">Chima</h2>
                        <p class="text-sm text-gray-600 flex-1">
                            This set from 1969 features a motorized building experience, providing hours of fun for builders of all ages.
                        </p>
                        <div class="card-actions mt-4">
                            <a href="/lego/sets/002253963-1" class="btn btn-sm btn-primary w-full text-center">View Set</a>
                        </div>
                    </div>
                </div>
            
                <!-- Card 3 -->
                <div class="card bg-white shadow-lg rounded-lg border border-gray-200 flex flex-col h-full">
                <figure class="flex">
                        <img class="object-contain w-full" src="https://cdn.rebrickable.com/media/sets/0011-3.jpg" alt="Lego Set 0011-3">
                    </figure>
                    <div class="card-body flex flex-col p-4 flex-1">
                        <h2 class="text-lg font-semibold text-gray-800 mb-2">Castle 2 for 1 Bonus Offer</h2>
                        <p class="text-sm text-gray-600 flex-1">
                            This set, known as the Basic Building Set, offers a variety of bricks for endless creative building possibilities.
                        </p>
                        <div class="card-actions mt-4">
                            <a href="/lego/sets/0011-3" class="btn btn-sm btn-primary w-full text-center">View Set</a>
                        </div>
                    </div>
                </div>
            
            </div>
            
            
            


        </div>


        </div>



    </main>

</body>

</html>